### Import dependencies

In [15]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame and explore data

In [16]:
csv_file1 = "Barcelona1992.csv"
df1 = pd.read_csv(csv_file1)
df1.head()

,url,Column 1,Pas 1,Pas 1_alt,Pas 2,Pas 2_link,Pas 3,Col 1,Col 2,Col 3,Total
0,https://es.wikipedia.org/wiki/Anexo:Medallero_...,1,https://upload.wikimedia.org/wikipedia/commons...,Equipo Unificado,Equipo Unificado,https://es.wikipedia.org/wiki/Equipo_Unificado...,(EUN),45,38,29,112
1,https://es.wikipedia.org/wiki/Anexo:Medallero_...,2,https://upload.wikimedia.org/wikipedia/commons...,Estados Unidos,Estados Unidos,https://es.wikipedia.org/wiki/Estados_Unidos_e...,(USA),37,34,37,108
2,https://es.wikipedia.org/wiki/Anexo:Medallero_...,3,https://upload.wikimedia.org/wikipedia/commons...,Alemania,Alemania,https://es.wikipedia.org/wiki/Alemania_en_los_...,(GER),33,21,28,82
3,https://es.wikipedia.org/wiki/Anexo:Medallero_...,4,https://upload.wikimedia.org/wikipedia/commons...,China,China,https://es.wikipedia.org/wiki/China_en_los_Jue...,(CHN),16,22,16,54
4,https://es.wikipedia.org/wiki/Anexo:Medallero_...,5,https://upload.wikimedia.org/wikipedia/commons...,Cuba,Cuba,https://es.wikipedia.org/wiki/Cuba_en_los_Jueg...,(CUB),14,6,11,31

### Create new data with select columns and rename columns

In [17]:
csv_file1 = "Barcelona1992.csv"
df1 = pd.read_csv(csv_file1)
df1 = df1[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df1 = df1.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})
csv_file2 = "Atlanta1996.csv"
df2 = pd.read_csv(csv_file2)
df2 = df2[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df2 = df2.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})
csv_file3 = "Sidney2000.csv"
df3 = pd.read_csv(csv_file3)
df3 = df3[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df3 = df3.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})
csv_file4 = "Atenas2004.csv"
df4 = pd.read_csv(csv_file4)
df4 = df4[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df4 = df4.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})
csv_file5 = "Pekin2008.csv"
df5 = pd.read_csv(csv_file5)
df5 = df5[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df5 = df5.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})
csv_file6 = "Londres2012.csv"
df6 = pd.read_csv(csv_file6)
df6 = df6[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df6 = df6.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})
csv_file7 = "Rio2016.csv"
df7 = pd.read_csv(csv_file7)
df7 = df7[['Pas 2','Pas 3','Col 1','Col 2', 'Col 3', 'Total']].copy()
df7 = df7.rename(columns={'Pas 2':'Country', 'Pas 3':'Country_id','Col 1':'Gold','Col 2':'Silver','Col 3':'Bronze'})

In [18]:
df7.head()

          Country Country_id  Gold  Silver  Bronze  Total
0  Estados Unidos      (USA)    46      37      38    121
1     Reino Unido      (GBR)    27      23      17     67
2           China      (CHN)    26      18      26     70
3           Rusia      (RUS)    19      17      20     56
4        Alemania      (GER)    17      10      15     42

### Connect to local data base in postgres

In [19]:
rds_connection_string = "postgres:postgres@localhost:5432/OlympicGames_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [20]:
engine.table_names()

['barcelona_1992',
 'atlanta_1996',
 'sidney_2000',
 'atenas_2004',
 'pekin_2008',
 'londres_2012',
 'rio_2016']

### Use pandas to load csv converted DataFrame into database

In [21]:
df1.to_sql(name='barcelona_1992', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.ProgrammingError) column "Country" of relation "barcelona_1992" does not exist
LINE 1: INSERT INTO barcelona_1992 ("Country", "Country_id", "Gold",...
                                    ^

[SQL: INSERT INTO barcelona_1992 ("Country", "Country_id", "Gold", "Silver", "Bronze", "Total") VALUES (%(Country)s, %(Country_id)s, %(Gold)s, %(Silver)s, %(Bronze)s, %(Total)s)]
[parameters: ({'Country': 'Equipo Unificado', 'Country_id': '(EUN)', 'Gold': 45, 'Silver': 38, 'Bronze': 29, 'Total': 112}, {'Country': 'Estados Unidos', 'Country_id': '(USA)', 'Gold': 37, 'Silver': 34, 'Bronze': 37, 'Total': 108}, {'Country': 'Alemania', 'Country_id': '(GER)', 'Gold': 33, 'Silver': 21, 'Bronze': 28, 'Total': 82}, {'Country': 'China', 'Country_id': '(CHN)', 'Gold': 16, 'Silver': 22, 'Bronze': 16, 'Total': 54}, {'Country': 'Cuba', 'Country_id': '(CUB)', 'Gold': 14, 'Silver': 6, 'Bronze': 11, 'Total': 31}, {'Country': 'España', 'Country_id': '(ESP)', 'Gold': 13, 'Silver': 7, 'Bronze': 2, 'Total': 22}, {'Country': 'Corea del Sur', 'Country_id': '(KOR)', 'Gold': 12, 'Silver': 5, 'Bronze': 12, 'Total': 29}, {'Country': 'Hungría', 'Country_id': '(HUN)', 'Gold': 11, 'Silver': 12, 'Bronze': 7, 'Total': 30}  ... displaying 10 of 65 total bound parameter sets ...  {'Country': 'Surinam', 'Country_id': '(SUR)', 'Gold': 0, 'Silver': 0, 'Bronze': 1, 'Total': 1}, {'Country': 'Tailandia', 'Country_id': '(THA)', 'Gold': 0, 'Silver': 0, 'Bronze': 1, 'Total': 1})]
(Background on this error at: http://sqlalche.me/e/f405)